@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

    --main-color: #6366f1;
    --secondary-color: rgb(223, 220, 224);
}

p {
    margin: 0;
}

input[type=search]::-ms-clear {  
    display: none; 
    width : 0; 
    height: 0; 
}

input[type=search]::-ms-reveal { 
    display: none; 
    width : 0; 
    height: 0; 
}
   
   /* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
   display: none; 
}

.container {
    display: grid;
    grid-template-columns: max(10%, 350px) 1fr;
    grid-template-rows: 250px max(calc(100% - 250px), calc(100vh - 250px));
}

.sidebar {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color: white;
}

.sidebar .title {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 36px;
    margin-bottom: 50px;
}

.sidebar .title p {
    margin-left: 10px;
    font-weight: 500;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.material-symbols-outlined.dashboard {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    font-size: 70px;
}

ul {
    list-style: none;
    margin: 0 30px;
    padding: 0;
    position: sticky;
    top: 20px;
}

ul .material-symbols-outlined {
    font-size: 32px;
}

a {
    text-decoration: none;
}

a.user-name {
    color: black;
}

li a {
    color: white;
    font-size: 23px;
    font-weight: 500;
    margin-left: 25px;
}

li a:hover {
    font-size: 24px;
}

li {
    display:flex;
    margin-bottom: 25px;
    align-items: center;
}

li.bigger-margin {
    margin-bottom: 80px;
}

.header {
    position: relative;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 10px 70px;
}

.header-top .left {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-top .right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.material-symbols-outlined.search-icon,
.material-symbols-outlined.notification-icon 
 {
    font-size: 32px;
}

.search-bar {
    border: none;
    background-color: var(--secondary-color);
    height: 44px;
    max-width: 80%;
    border-radius: 22px;
    flex: 1;
    width: auto;
    padding-left: 15px;
    font-size: 18px;
    color: rgb(51, 51, 51);
}

.search-bar:focus {
    outline: none;
}

.header-top {
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: space-between;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom .left {
    flex: 1;
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: 100px auto;
    grid-template-rows: 4fr 6fr;
    column-gap: 20px;
}

.header-bottom .right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.header-bottom .right button {
    height: 50px;
    width: 110px;
    border-radius: 25px;
    background-color: var(--main-color);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.header-bottom .right button:hover {
    background-color: #595bdd;
}

button:hover {
    cursor: pointer;
}

button.material-symbols-outlined {
    border: none;
    background-color: transparent;
}

button.material-symbols-outlined:hover {
    color: var(--main-color);
}

.small-picture {
    height: 50px;
    border-radius: 25px;
}

.big-picture {
    height: 100px;
    border-radius: 50px;
    grid-row: 1/3;
    grid-column: 1/2;
}

.user-name {
    font-weight: 700;
    font-size: 22px;
}

.header-bottom .left p {
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: end;
    font-size: 16px;
    font-weight: 700;
}

.header-bottom .left p:last-child {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: start;
    padding-top: 10px;
    font-size: 28px;
    font-weight: 700;
}

.content {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: var(--secondary-color);
    display: grid;
    padding: 30px;
    gap: 30px;
    grid-template-columns: 3fr 1fr;
}

.projects {
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: start;
}

.announcements {
    grid-column: 2/3;
    grid-row: 1/2;
}

.trendings {
    grid-column: 2/3;
    grid-row: 2/3;
}

h1 {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
}

.projects, 
.announcements, 
.trendings {
    display: grid;
    grid-template-rows: 40px 1fr;
}

.right-part {
    justify-self: start;
    display: grid;
    row-gap: 40px;
    grid-template-rows: fit-content(400px) fit-content(400px);
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    row-gap: 40px;
    column-gap: 30px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card.project {
    height: 280px;
    display: grid;
    grid-template-columns: 10px auto;
}

.card.project:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
}

.card.project .left {
    background-color: rgb(255, 174, 0);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card.project .right {
    padding: 20px 50px 20px 20px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

.card.project .right p {
    font-size: 18px;
    color: rgb(90, 90, 90);
}

.card.project .right p:first-child {
    color: black;
    font-size: 22px;
    font-weight: 700;
    align-self: end;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    gap: 28px;
}

.card-icons button {
    color: rgb(90, 90, 90);
}

.card-icons .material-symbols-outlined {
    font-size: 32px;
}

.announcement {
    border-bottom: 1px solid rgba(90, 90, 90, 0.5);
    max-height: 100px;
    padding: 20px 5px;
    overflow: hidden;
}

.announcement:hover {
    cursor: pointer;
}

.announcement:hover .title {
    text-decoration: underline;
}

.announcement:last-child {
    border: none;
}

.announcement p:first-child {
    font-size: 16px;
    font-weight: 700;
}

.announcement p:last-child {
    color: rgb(90, 90, 90);
}

.announcements .card,
.trendings .card {
    padding: 30px 30px;
    max-width: 300px;
}

.trending-project {
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: 50px auto;
    grid-template-rows: 4fr 6fr;
    column-gap: 10px;
}

.trending-project:hover {
    cursor: pointer;
}

.trending-project:hover .usertag {
    text-decoration: underline;
}

.trending-project .small-picture {
    grid-column: 1/2;
    grid-row: 1/3;
}

.usertag {
    align-self: end;
    font-weight: 500;
}

.project-name {
    align-self: start;
    padding-top:5px;
    color: rgba(90, 90, 90);
}

.trendings .card {
    display: grid;
    gap: 30px;
}